{% extends 'base.html' %}
{% block title %} Restaurants | {{ block.super }} {% endblock %}
{% block content %}
    <h1>My Restaurant</h1>
    <ol>
        {% for object in object_list %}

            <h3><li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li></h3>

            <ul>
                <li>{{ object.location }}</li>
                <li>{{ object.category }}</li>
                <li>{{ object.timestamp }}</li>
                <li>{{ object.updated }}</li>
            </ul>
        {% endfor %}
    </ol>
{% endblock content %}