{% extends 'base.html' %}
{% block title %} Home Feed || {{ block.super }}{% endblock title %}

{% block content %}
    <h1>Home Feed</h1>
    <ol>
        {% for object in object_list %}

            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <div class="h4"><a
                                href="{% url 'profiles:detail' username=object.user.username %}">{{ object.user.username }}</a>
                        </div>
                        <div class="h4"><a href="{%  url 'profiles:detail' username=object.user.username %}?q={{ object.name }}">{{ object.name }}</a></div>
                        <p><a href="{%  url 'profiles:detail' username=object.user.username %}?q={{ object.restaurant.category }}">{{ object.restaurant.category }}</a> | <a href="{%  url 'profiles:detail' username=object.user.username %}?q={{ object.restaurant.location }}">{{ object.restaurant.location }}</a></p>
                        <ul>

                            <li><a href="{%  url 'profiles:detail' username=object.user.username %}?q={{ object.name }}">{{ object.name }}</a></li>
                            {% for ing in object.get_contents %}
                                <a href="{%  url 'profiles:detail' username=object.user.username %}?q={{ ing }}"><span
                                        class="label label-success">{{ ing }}</span></a>
                            {% endfor %}
                            {% for ing in object.get_excludes %}
                                <a href="{%  url 'profiles:detail' username=object.user.username %}?q={{ ing }}"><span
                                        class="label label-danger">{{ ing }}</span></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %} {# End Object List #}
    </ol>
{% endblock content %}